*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    font-size:36px;
}

body {
	background: 
		linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
		url('images/2019-07-26-12-38-17.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
  text-align:center;
  width:auto;
  height:auto;
  white-space: pre-line;  
}

/*h1 { 
	color: #ffffff; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 15vh; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center; 
}

h2 { 
	color: #ffffff; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 10vh; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center; 
}

*/

h1 { 
	color: #2CA4B0; 
	font-family: 'Lobster', cursive; 
	font-size: 15vh; 
	font-weight: normal; 
	line-height: 1; 
	margin: 0 0 18px; 
	text-shadow: 1px 0 0 #fff; 
}



h2 { 
	color: #d04764; 
	font-family: 'Oleo Script', cursive; 
	font-size: 10vh; 
	font-weight: normal; 
	line-height: 1; 
	margin: 0 0 18px; 
	text-shadow: 1px 0 0 #fff; 
}
